{% extends "smartfridge/base.html" %}

{% block page-name %}
    <h1 class="text-center">Login</h1>
{% endblock %}

{% block menu %}
    <form action="{% url 'register' %}" method="GET">
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color:red">
            Incorrect user name and password.
        </p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <p>&nbsp;</p>
        
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
    </form>
{% endblock %}