{% extends "smartfridge/loggedIn_base.html" %}

{% block page-name %}
<h1 class="text-center">My Profile</h1>
{% endblock %}

{% block content %}

<div class="card bg-light text-dark">

    <div class="card-header">
        <h3>Whole Foods</h3>
    </div>

    <div class="card-body">
        {% load staticfiles %}
        <image class="img-fluid" src="{% static 'smartfridge/whole_foods.jpg' %}" width="360" height="245"></image>
        <p>&nbsp;</p>
        <p>America's Healthiest Grocery Store</p>
    </div>
    
</div>

{% endblock %}