{% extends "smartfridge/loggedIn_base.html" %}

{% block page-name %}
<h1 class="text-center">My Fridge</h1>
{% endblock %}

{% block content %}

<!-- Button to open a modal to add new items -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_item">+</button>

<!-- Modal to manually add new items -->
<div class="modal fade" id="new_item">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add new item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name">
                <label for="expiry_date">Expiry Date</label>
                <input class="form-control" type="date" id="expiry_date">
                <label for="count">Item Count</label>
                <input class="form-control" type="number" id="count">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                {% csrf_token %}
                <button onclick="addItem()" class="btn btn-primary" data-dismiss="modal">Add</button>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-*-*">
        
    </div>
    <div class="col-*-*"></div>
</div>


{% endblock %}
