{% extends "smartfridge/loggedIn_base.html" %}

{% block page-name %}
<h1 class="text-center">My Fridge</h1>
{% endblock %}

{% block content %}

<div id="myFridge_message"></div>

<!-- Button to open a modal to add new items -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_item">+</button>
<p>&nbsp;</p>

<!-- Modal to manually add new items -->
<div class="modal fade" id="new_item">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add new item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name">
                <label for="expiry_date">Expiry Date</label>
                <input class="form-control" type="date" id="expiry_date">
                <label for="count">Item Count</label>
                <input class="form-control" type="number" id="count">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                {% csrf_token %}
                <button onclick="addItem()" class="btn btn-primary" data-dismiss="modal">Add</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal to edit item -->
<div class="modal fade" id="edit_item">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="edit_name">Name</label>
                <input class="form-control" type="text" id="edit_name">
                <label for="edit_expiry_date">Expiry Date</label>
                <input class="form-control" type="date" id="edit_expiry_date">
                <label for="edit_count">Item Count</label>
                <input class="form-control" type="number" id="edit_count">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                {% csrf_token %}
                <button onclick="editItem()" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="fridge_items">
<!--
    <div class="col-*-*">
        <div class="card bg-light text-dark">

            <div class="card-header">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" checked autocomplete="off"> {{dummy_data_1.item_name}}
                    </label>
                </div>
            </div>

            <div class="card-body">
                <p>Expiry Date: {{dummy_data_1.expiry_date}}</p>
                <p>Count: {{dummy_data_1.item_count}}</p>
                <button type="button" class="btn btn-primary" onclick="addShoppingList('{{dummy_data_1.item_name}}')">Buy</button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit_item">Edit</button>
                <button type="button" class="btn btn-danger">X</button>
            </div>

        </div>
    </div>
    <p>&nbsp;</p>
-->
</div>


{% endblock %}
