{% extends "smartfridge/loggedIn_base.html" %}

{% block page-name %}
<h1 class="text-center">My Fridge</h1>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-*-*">
        <input class="form-control" type="date" id="date-input">
    </div>
    <div class="col-*-*"></div>
</div>


<div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Expiry Date</label>
    <div class="col-5">
        <input class="form-control" type="date" id="example-date-input">
    </div>
</div>

{% endblock %}
